body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #34495e;
    color: #fff;
}

.box{
    position: absolute;
    margin: 100px auto;
    padding: 20px 84px;
    background: #191919;
    text-align: center;
    border-radius: 25px;
}

/* prev-css */
.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.box input[type="text"], .box input[type="password"], .box input[type="email"], .box textarea{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type="text"]:hover, .box input[type="password"]:hover, .box input[type="email"]:hover{
    width: 280px;
    border-color: #2ecc71;
}

.box textarea:hover{
    width: 280px;
    border-color: #2ecc71;

}
/* my-css */

/* .box input[type="text"], .box input[type="password"], .box textarea, .box input[type="email"]{
    margin: 20px auto;
    padding: 9px;
    background: none;
    text-align: center;
    border: 3px solid #3498db;
    border-radius: 13px;
    outline: none;
    /* padding: 6px; */
    

    /* margin: 9px; */
    /* display: block;
} */

/* .box input[type="text"]:focus, .box input[type="password"]:focus, .box textarea:focus, .box input[type="email"]:focus{
    width: 110%;
    margin: 20px auto;
    padding: 9px;
    background: none;
    color: #fff;
    outline: none;
    border: 3px solid #2ecc2e;
    border-color: #2ecc71;
} */


/* submit buttton */
.box input[type="submit"], .box input[type="button"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    cursor: pointer;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type="submit"]:hover, .box input[type="button"]:hover{
    background: #2ecc71;
    text-decoration: none;
}

.box a{
    text-decoration: none;
}